header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 2rem;
}

.header-icon {
    height: 35px;
    width: 35px;
    cursor: pointer;
}
