* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    border: none;
    outline: none;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    color: white;
}

:root {
    font-size: clamp(16px, 1.5vw, 16px);
}

body {
    height: 100vh;
    width: 100vw;

    padding: 10px;

    background-color: #333;
}

main {
    display: flex;
    flex-direction: column;
    gap: 15px;

    min-width: 400px;
    max-width: 600px;
    margin: auto;
    padding: 5px;
    
    border: 1px solid #555;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 1.75rem;
}

input {
    width: 100%;

    margin-bottom: 10px;
    padding: 10px;
    
    text-align: center;
    color: black;

    border-radius: 5px;
}

#hints {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#hints > p {
    width: 30%;
    padding: 10px;

    text-align: center;
    font-weight: bold;
    
    border: 3px solid white;
    border-radius: 5px;
}