@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    border: none;
    outline: none;

    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: white;
}

:root {
    font-size: clamp(0.5vw, 3vw, 16px);
}

body {
    height: 100vh;
    width: 100vw;

    padding: clamp(5px, 5vw, 10px);

    background-color: #333;
}

main {
    display: flex;
    flex-direction: column;
    gap: 25px;

    width: 600px;
    max-width: 95vw;
    margin: auto;
    padding: 5px;
}

input {
    width: 100%;

    margin-bottom: 10px;
    padding: 10px;

    text-align: center;
    font-size: 1.5rem;
    color: black;

    border-radius: 5px;
}

#hints {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}

#hints > p {
    /* width: 30%; */
    flex: 1;
    height: 100%;
    padding: 10px;

    text-align: center;
    font-weight: bold;

    /* border: 3px solid white; */
    background-color: #555;
    border-radius: 5px;
}

tbody {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

tr {
    display: flex;
    justify-content: space-between;
}

th {
    min-width: 1/6 !important;
    padding: 2px 10px;
    font-size: 0.9rem;
    font-weight: normal;
    text-align: center !important;
}

td {
    padding: 7px;
    border: 3px solid white;
    border-radius: 5px;
    text-align: center;
}

.country-name {
    text-align: left;
    min-width: 40%;
}

.country-info {
    min-width: 17.5%;
}
